.sass-cache
1.htaccess
.sass-cache
.htaccess
*.scssc
# files
.DS_Store
*.sql
.gitignore
/.idea/
install.config
# core
bitrix/activities/
bitrix/fonts/
bitrix/admin/
bitrix/backup/
bitrix/click.php
bitrix/components/
bitrix/coupon_activation.php
bitrix/footer.php
bitrix/gadgets/
bitrix/header.php
bitrix/image_uploader/
bitrix/images/
bitrix/panel/
bitrix/index.php
bitrix/js/
bitrix/license_key.php
bitrix/modules/
bitrix/otp/
bitrix/php_interface/
bitrix/p3p.xml
bitrix/redirect.php
bitrix/rk.php
bitrix/rss.php
bitrix/sounds/
bitrix/spread.php
bitrix/stop_redirect.php
bitrix/template/
bitrix/templates/.default/
bitrix/themes/
bitrix/tmp/
bitrix/tools/
bitrix/urlrewrite.php
bitrix/virtual_file_system.php
bitrix/web.config
bitrix/wizards/
layout/old_images/
bitrix/php_interface/dbconn.php

bitrix/cache/
bitrix/managed_cache/
upload/tmp/
config.codekit

bitrix/.settings.php

layout/js/min/plugins-ck.js
