#products-promo
	full-width()
	overflow: hidden
	min-height: 800px
	@media screen and (max-width: 1024px)
		min-height: 700px
	b("products-promo.jpg", top center)
	background-size: cover
	margin-top: -1*128px
	padding-top: 130px
	color: white
	h1
		text-transform: uppercase
		font-size: 26px
		margin-bottom: 35px
		@media (max-width: 770px)
			font-size: 22px
			margin-bottom: 10px
	.container
		position: relative
	#video
		b("ipad.png", top center no-repeat)
		background-size: contain
		margin-left: -1*9%
		width: 100%
		text-align: center
		line-height: 506px
		iframe
			vertical-align: middle
			opacity: 0
			transition-property: all	
			transition-duration: 0.3s	
			display: inline-block
			max-width: 75%
			max-height: 82%
		max-width: 100%
		height: 506px
		.icon
			transition-property: all	
			transition-duration: 0.3s	
			z-index: 22
			cursor: pointer
			width: 78px
			height: 80px
			position: absolute
			left: 40%
			margin-left: -1*39px
			top: 47%
			margin-top: -1*30px
			b("play.png")
			background-size cover
			z-index: 3
			@media (max-width: 770px)
				width: 35px
				height: 35px
				background-size: cover
				left: 50%
				margin-left: -1*17px
				top: 50%
				margin-top: -1*17px
		@media screen and (max-width: 1024px)
			margin-left: -1*17%
		@media (max-width: 770px)
			position: absolute
			bottom: -1*220px
			margin: 0
			left: 0
			height: 220px
			line-height: 220px
	#product-1, #product-2
		float: right
		margin-right: -1*100px
		width: 600px
		margin-top: 130px
		img
			max-width: none
			float: right
			margin-top: -1*95px
			left: 30px
			position: relative
		p
			margin-right: -1*90px
			position: relative
			z-index: 4
			width: 50%
			float: left
			text-align: right
			font-size: 14px
			font-weight: 300
		a
			color: white
			text-decoration: underline
			text-transform: uppercase
			font-size: 18px
			text-shadow: -2px 3px 5px rgba(1, 1, 4, 0.67)
			font-weight: 500
			margin-top: 10px
			float: right
			&:hover
				opacity: 0.7
		@media screen and (max-width: 1024px)
			width: 500px
			margin-right: -1*40px
			margin-top: 20px
			img
				max-width: 300px
				margin-top: -1*70px
			p
				margin-top: 20px
	#product-1
		margin-top: 50px
		@media (max-width: 770px)
			full-width()
			margin: 0
			padding-top: 130px
			padding-bottom: 10px
			img
				position: absolute
				left: -1*40px
				top: 50px
				height: 210px
			p
				full-width()
				text-align: left
				a
					position: absolute
					top: -1*50px
					right: 10px
		@media (max-width: 570px)
			img
				top: 50px
	#product-2
		margin-top: 0
		img
			float: left
			margin-top: -1*200px
			left: -1*50px
			@media screen and (max-width: 1024px)
				margin-top: -1*180px
				left: -1*35px
		p
			float: right
			margin-right: 0
			margin-left: 0px
			text-align: left
			@media screen and (max-width: 1024px)
				margin-top: 30px
		a
			float: left
		@media screen and (max-width: 1024px)
			margin-top: 20px
			img
				margin-top: -1*200px
		@media (max-width: 770px)
			padding-top: 130px
			full-width()
			position: relative
			margin: 0
			img
				position: absolute
				height: 210px
				margin-top: 0px
				top: -1*35px
				left: -1*50px
				transform(rotate(8deg))
			p
				full-width()
				a
					position: absolute
					top: -1*50px
					right: 10px
	@media (max-width: 770px)
		margin-top: -1*14px
		display: block
		width: 100%
		max-width: 520px
		float: none
		margin: 0 auto
		position: relative
		padding-top: 8px
		padding-bottom: 240px
		.container
			max-width: 360px
		.col-md-8
			position: initial
#product
	full-width()
	overflow: hidden
	min-height: 800px
	background-position: top center
	background-repeat: no-repeat
	background-size: cover
	margin-top: -1*128px
	padding-top: 130px
	img
		display: none
	.container
		@media (max-width: 770px)
			padding: 0 8px
	p
		margin-top: 40px
		@media (max-width: 770px)
			width: 100%
	p, a
		color: white
		font-weight: 300
		font-size: 24px
		line-height: 27px
		span.r
			font-size: 36px
			line-height: 24px
			top: 3px
			position: relative
			color: white
		@media (max-width: 770px)
			font-size: 12px
			text-align: right
			margin-top: 0
			font-weight: 500
	a
		&.back
			float: left
			@media (max-width: 770px)
				display: none
		&.manual
			position: absolute
			right: 0
			text-transform: uppercase
			text-decoration: underline
			font-weight: 500
			font-size: 30px
			@media (max-width: 770px)
				font-size: 18px
				position: relative
				float: right
		&.next
			margin-top: 50px
			opacity: 0.6
			display: inline-block
			&:hover
				opacity: 1
			span.r
				display: inline-block
				rotate(-90deg)
				left: -1*5px
			@media (max-width: 770px)
				display: none
	&.product-2
		p
			margin-top: 120px
			@media (max-width: 770px)
				margin-top: 0
				text-align: left
		a.back
			margin-left: 30px
		a.next
			position: absolute
			right: 0
			top: -1*40px
			.r
				rotate(90deg)
				left: 0
		a.manual
			margin-top: 30px
			@media (max-width: 770px)
				margin-top: 0
	a:hover
		opacity: 0.6
	@media (max-width: 770px)
		margin-top: 0
		min-height: 340px
		margin-top: -1*14px
		padding-top: 180px
		padding-bottom: 20px
		b("products-promo.jpg", top center !important)
		img
			display: block
			position: absolute
		&.product-1
			img
				width: 282px
				top: -1*188px
				right: -1*40px
		&.product-2
			img
				width: 282px
				top: -1*188px
				left: -1*50px
				transform(rotate(8deg))
#video-list
	full-width()
	padding-bottom: 30px
	.row+.row
		padding-top: 30px
		@media (max-width: 770px)
			padding-top: 0
	.item
		margin-top: 30px
		full-width()
		.description
			full-width()
			font-weight: 400
			font-style: 18px
			line-height: 20px
			@media (max-width: 770px)
				padding: 8px
				font-size: 12px !important
				line-height: 14px
				br:first-child
					display: none
		.date
			full-width()
			font-size: 12px
			color: #eb222e
			min-height: 20px
			margin-bottom: 10px
			@media (max-width: 770px)
				min-height: 0
				padding-left: 8px
				padding-top: 3px
				margin-bottom: 0px
		.header
			full-width()
			min-height: 115px
			@media (max-width: 770px)
				min-height: 0
		.title
			float: left
			font-weight: 500
			color: #eb222e
			font-size: 25px
			line-height: 25px
			width: 95%
			margin-bottom: 10px
			text-transform: uppercase
			&.medium
				font-size: 21px
			&.small
				font-size: 16px
			@media (max-width: 770px)
				width: 100%
				min-height: 0
				padding: 5px 8px 0
				font-size: 14px !important
				line-height: 14px !important
				margin-bottom: 0
				color: black
				margin-bottom: 0
		.image
			full-width()
			height: 230px
			position: relative
			background-repeat: no-repeat
			background-position: center center
			background-size: cover
			margin-bottom: 0px
			.icon
				position: absolute
				left: 50%
				top: 50%
				margin-top: -1*40px
				margin-left: -1*40px
				width: 80px
				height: 80px
				b("play2.png")
			.soon, .parts, .minutes
				min-width: 100px
				height: 40px
				padding-right: 25px
				b("test_sm_1.png")
				position: absolute
				background-size: cover
				background-position: top right
				left: 0
				bottom: 20px
				color: white
				padding-left: 20px
				text-transform: uppercase
				font-weight: 500
				font-size: 18px
				line-height: 40px
				@media (max-width: 770px)
					font-size: 15px
					height: 30px
					line-height: 30px
			.parts
				b("test_sm2.png")
				background-size: cover
				background-position: top right
				&.small
					font-size: 12px
			.minutes
				left: auto
				right: 0
				b("test_sm_2.png")
				background-position: top left
				background-size: cover
				text-transform: none
			@media (max-width: 770px)
				position: absolute
				top: 0
				left: 0
				height: 166px
		@media (max-width: 770px)
			background: white
			box-shadow: 1px 1px 2px rgba(8, 10, 14, 0.22)
			padding-top: 166px
			margin-top: 14px
	@media (max-width: 770px)
		margin-top: -1*14px
		padding-bottom: 0
#research
	full-width()
	padding: 0 0 25px 0
	@media (max-width: 770px)
		padding-bottom: 0
	.item
		full-width()
		width: 98%
		margin-top: 32px
		background: #f2f2f2
		min-height: 130px
		padding: 10px 65px 18px 18px
		.content
			float: left
			width: 58%
			padding-top: 10px
			font-size: 16px
			line-height: 19px
			.title
				font-weight: 500
				text-transform: uppercase
			@media (max-width: 770px)
				width: 73%
				padding-top: 15px
				font-size: 11px
				.title
					margin-bottom: 4px
				line-height: 13px
			@media (max-width: 540px)
				width: 100%
		&:hover
			color: black
		.image
			margin-right: 20px
			position: relative
			float: left
			width: 175px
			margin-top: -1*25px
			height: 125px
			background-position: center center
			background-size: cover
			.icon
				b("pdf.jpg", center center)
				position: absolute
				width: 32px
				height: 33px
				bottom: -1*10px
				right: -1*10px
			@media (max-width: 770px)
				width: 96px
				height: 67px
				.icon
					height: 16px
					width: 16px
					background-size: cover
					bottom: -1*8px
					right: -1*8px
		.corner, .buttons
			position: absolute
			top: 0
			right: 0
			width: 63px
			height: 95px
			b("corner.jpg", top center)
			a
				float: left
				width: 27px
				height: 20px
			@media (max-width: 770px)
				b("corner-top.png", top right)
				background-size: auto 100%
				background-repeat: no-repeat
				top: -1*1px
				right: -1*4px
		.buttons
			bottom: 0
			top: auto
			background-position: bottom center
			height: 35px
			@media (max-width: 770px)
				background transparent
				width 100%
				height 100%
				.tooltip
					display none !important	
			a
				@media (max-width: 770px)
					display none
					&:first-of-type
						display block
						position absolute
						width 100%
						height 100%
						z-index: 300
						background transparent
		@media (max-width: 770px)
			background: white
			width: 100%
			box-shadow: 1px 1px 2px rgba(8, 10, 14, 0.22)
