#fullwidth-list
	margin-top -100px
	&.overlay
		margin-top 0
		.video-frame
			position relative
		h1
			font-size 42px
			br
				display none
		.landing
			position: absolute
			
	padding 0 20px
	.landing
		&.affix
			top 20px
	h1
		font-weight 700
		margin-top 0
		margin-bottom 20px
		font-size 36px
		small
			font-size 20px
			full-width()
			line-height: 20px
			margin-top 4px
			margin-bottom 25px
	.locator
		margin-bottom: 20px
		full-width()
	.enter2
		b("bg3.png")
	#promo .block
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(100%);

	#promo .block:hover
		-webkit-filter: grayscale(0%);