@font-face {
    font-family: 'PFDinTextCompProBold';
    src: url('/infograph/fonts/pfdintextcomppro-bold-webfont.eot');
    src: url('/infograph/fonts/pfdintextcomppro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/infograph/fonts/pfdintextcomppro-bold-webfont.woff') format('woff'),
         url('/infograph/fonts/pfdintextcomppro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondProMediumRegular';
    src: url('/infograph/fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('/infograph/fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/infograph/fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('/infograph/fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondProRegular';
    src: url('/infograph/fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('/infograph/fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/infograph/fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('/infograph/fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
	background:url("/img/bg2.png") repeat scroll 0 0 transparent;
}

#infograph {
	background:url("/img/bg2.png") repeat scroll 0 0 transparent;
	height: auto !important;
	overflow: hidden;
	width: 650px;
}
	#infograph #content {
		padding: 22px 0 22px 10px;
		float: left;
		width: 515px;
	}
	.lt-ie9 #infograph #content {
		background: url(../img/infograph_1.jpg) no-repeat 0 0;
		clear: both;
		padding: 0;
		height: 469px;
		width: 650px;
	}
	#content h1, #content_2 h1 {
		color: #D00000;
		font: normal 30px/32px PFDinTextCondProMediumRegular, sans-serif;
		text-transform: uppercase;
		display: none;
	}
	#content p {
		color: #5B5B5B;
		font: normal 16px/18px Arial,sans-serif;
		display: none;
		margin: 15px 0 0;
		opacity: 0.8;
		width: 465px;
	}
	#content_2 p {
		color: #5B5B5B;
		font: normal 14px/20px Arial, sans-serif;
		margin: 6px 0 0;
	}
	#content #scheme {
		clear: both;
		display: none;
		position: relative;
		margin: 35px 0 0;
		height: 285px;
	}
		#scheme span {
			display: block;
			position: absolute;
			text-transform: uppercase;
		}
		#scheme .whiteVerticalLine {
			border-left: 1px solid #5B5B5B;
			width: 2px;
		}
			#scheme #whiteLine_1_1 {
				bottom: 45px;
				left: 63px;
				height: 0;
			}
			#scheme #whiteLine_1_2 {
				bottom: 145px;
				left: 63px;
				height: 0;
			}
			#scheme #whiteLine_2_1 {
				bottom: 45px;
				left: 267px;
				height: 0;
			}
			#scheme #whiteLine_2_2 {
				bottom: 125px;
				left: 267px;
				height: 0;
			}
		#scheme .greenLine {
			border-top: 1px solid #CACACA;
			height: 1px;
		}
			#scheme #greenLine_1_1 {
				left: 103px;
				top: 63px;
				width: 0;
			}
			#scheme #greenLine_1_2 {
				left: 333px;
				top: 63px;
				width: 0;
			}
		#scheme .orangeLine {
			border-top: 1px solid #D00000;
			height: 1px;
		}
			#scheme #orangeLine_1_1 {
				left: 103px;
				top: 179px;
				width: 0;
			}
			#scheme #orangeLine_1_2 {
				left: 290px;
				top: 179px;
				width: 0;
			}
		#scheme .buble {
			border-radius: 100%;
			text-align: center;
			z-index: 2;
		}
			#scheme .greenBuble {
				background: none repeat scroll 0 0 #CACACA;
				color: #4E4D4D;
				font: normal 0px/0px PFDinTextCondProMediumRegular, sans-serif;
			}
				#scheme #buble_1_1 {
					left: 64px;
					top: 64px;
					height: 0;
					width: 0;
				}
				#scheme #buble_1_1.animated {
					font: normal 28px/78px PFDinTextCondProMediumRegular, sans-serif;
					left: 25px;
					top: 25px;
					height: 78px;
					width: 78px;
					 -webkit-transition: all 0.35s ease-in;
						-moz-transition: all 0.35s ease-in;
						  -o-transition: all 0.35s ease-in;
							 transition: all 0.35s ease-in;
				}
				#scheme #buble_1_2 {
					left: 268px;
					top: 71px;
					height: 0px;
					width: 0px;
				}
				#scheme #buble_1_2.animated {
					font: normal 51px/136px PFDinTextCondProMediumRegular, sans-serif;
					left: 201px;
					top: 3px;
					height: 136px;
					width: 136px;
					
 					 -webkit-transition: all 0.45s ease-in;
						-moz-transition: all 0.45s ease-in;
						  -o-transition: all 0.45s ease-in;
							 transition: all 0.45s ease-in;
				}
			#scheme .orangeBuble {
				background: none repeat scroll 0 0 #D00000;
				color: #fff;
				font: normal 28px/70px PFDinTextCondProMediumRegular, sans-serif;
				border-radius:100%;
				width: 70px;
				height: 70px;
			}
				#scheme #buble_2_1 {
					font: normal 0px/0px PFDinTextCondProMediumRegular, sans-serif;
					left: 64px;
					top: 186px;
					height: 0;
					width: 0;
				}
				#scheme #buble_2_1.animated {
					font: normal 32px/86px PFDinTextCondProMediumRegular, sans-serif;
					left: 21px;
					top: 140px;
					height: 86px;
					width: 86px;
					
					 -webkit-transition: all 0.35s ease-in;
						-moz-transition: all 0.35s ease-in;
						  -o-transition: all 0.35s ease-in;
							 transition: all 0.35s ease-in;
				}
				#scheme #buble_2_2 {
					font: normal 0px/0px PFDinTextCondProMediumRegular, sans-serif;
					left: 268px;
					top: 183px;
					height: 0;
					width: 0;
				}
				#scheme #buble_2_2.animated {
					font: normal 17px/46px PFDinTextCondProMediumRegular, sans-serif;
					left: 245px;
					top: 160px;
					height: 46px;
					width: 46px;
					
					-webkit-transition: all 0.45s ease-in;
						-moz-transition: all 0.45s ease-in;
						  -o-transition: all 0.45s ease-in;
							 transition: all 0.45s ease-in;
				}
			
			#scheme .greenTitle {
				color: #ABABAB;
				display: none;
				font: normal 13px/15px PFDinTextCondProRegular,sans-serif;
					right: 5px;
					top: 45px;
				width: 115px;
			}
			#scheme .orangeTitle {
				color: #D00000;
				display: none;
				font: normal 13px/15px PFDinTextCondProRegular,sans-serif;
					right: 5px;
					top: 165px;
				width: 115px;
			}
			
			#scheme .whiteTitle {
				color: #5B5B5B;
				font: normal 16px/18px PFDinTextCondProMediumRegular,sans-serif;;
				bottom: -200px;
				text-align:center;
				width: 130px;
			}
				#scheme #active {
					left: 205px;
				}
			
	#aside {
		float: left;
		border-left:8px solid #97baa3;
		border-left:8px solid rgba(255,255,255,0.4);
		padding: 20px 7px;
		height: 470px;
		width: 100px;
	}
	.lt-ie9 #aside {
		display: none;
	}
		#aside span {
			display: block;
			margin: 0 auto;
			text-align: center;
		}
		#aside h1 {
			color: #5B5B5B;
			border-bottom: 1px solid #5B5B5B;
			font: normal 13px/16px PFDinTextCondProRegular, sans-serif;
			padding: 0 0 5px;
			position: relative;
				right: -200px;
			margin: 0 auto;
			text-align: center;
			width: 70px;
		}
			#aside .big {
				color: #5B5B5B;
				font: normal 30px/32px PFDinTextCondProRegular, sans-serif;
				text-transform: uppercase;
				text-align:center;
				margin: 0 auto;
			}
			#aside .digit {
				font: normal 39px/32px PFDinTextCondProRegular, sans-serif;
			}
		#aside ul {
			list-style: none;
			margin: 10px 0 0;
			padding: 0;
		}
			#aside li {
				display: block;
				overflow: hidden;
			}
			#aside .orLi {
				display: none;
			}
			#aside .icon {
				display: block;
				position: relative;
				left: -200px;
				margin: 8px auto;
				width: 35px;
			}
				#aside #iconRun {
					background: url(../img/icon_run.png) no-repeat center 0;
					height: 40px;
				}
				#aside #iconSwim {
					background: url("../img/icon_swim.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
					height: 30px;
				}
				#aside #iconWalk {
					background: url(../img/icon_walk.png) no-repeat center 0;
					height: 43px;
				}
			#aside .animateBlock {
				position:relative;
				right: -200px;
			}
			#aside .green {
				color: #D00000;
				font: normal 18px/20px PFDinTextCondProRegular, sans-serif;
				text-transform: uppercase;
			}
			#aside .white {
				color: #5B5B5B;
				font: normal 20px/20px PFDinTextCondProMediumRegular, sans-serif;
				text-transform: uppercase;
			}
			#aside .green.small {
				font: normal 12px/14px PFDinTextCondProRegular, sans-serif;
			}			
			#aside .greenWalk {
				font: normal 11px/14px PFDinTextCondProRegular, sans-serif;
			}
			#aside .or {
				background: url(../img/or.png) no-repeat center 0;
				color: #5B5B5B;
				font: normal 10px/10px PFDinTextCondProRegular, sans-serif;
				margin: 10px 0;
				text-transform: uppercase;
			}

.lt-ie9 #infograph #content_2 {
	background: url(../img/infograph_2.jpg) no-repeat 0 0;
	clear: both;
	padding: 0;
	height: 469px;
	width: 650px;
}
#content_2 {
	padding: 25px 0 25px 10px;
	position: relative;
	height: 430px;
}
	#content_2 h2 {
		color: #D00000;
		display: none;
		font: normal 18px/26px PFDinTextCondProMediumRegular,sans-serif;
		position: absolute;
			right: 35px;
			bottom: 30px;
		text-transform: uppercase;
	}
	
	#content_2 .main {
		display: none;
	}
	
	#scheme_2 {
		position: relative;
		height: 340px;
		width: 585px;
	}
		#scheme_2 h3 {
			color: #444444;
			display: none;
			font: normal 48px/48px PFDinTextCompProBold,sans-serif;
			position: absolute;
				left: 255px;
				top: 125px;
			text-transform: uppercase;
		}
	
		#scheme_2 p {
			color: #5B5B5B;
			font: normal 12px/16px Arial,sans-serif;
			opacity: 0.7;
		}	
		
		#percent_20 {
			background: url(../img/arrow_20.png) no-repeat 	right 35px;
			position: absolute;
				left: -300px;
				top: 24px;
			height: 122px;
			width: 193px;
			z-index: 2;
		}
			#percent_20 span {
				color: #CACACA;
				font: normal 34px/34px PFDinTextCondProRegular,sans-serif;
				position: absolute;
					left: 79px;
					top: 0;
			}
			#percent_20 p {
				margin: 56px 0 0;
			}
			
		#percent_80 {
			background: url(../img/arrow_80.png) no-repeat 90% 0;
			position: absolute;
				left: 17px;
				top: 507px;
			height: 143px;
			width: 200px;
			z-index: 2;
		}
			
			#percent_80 span {
				color: #5B5B5B;
				font: bold 58px/50px PFDinTextCondProRegular,sans-serif;
				left: 35px;
				position: absolute;
				top: 15px;
			}
			#percent_80 p {
				margin: 83px 0 0;
			}
		#percent_95 {
			background: url(../img/arrow_95.png) no-repeat left 120px;
			height: 155px;
			position: absolute;
			right: -350px;
			top: -5px;
			width: 244px;
			z-index: 2;
		}
			
			#percent_95 span {
				color: #5B5B5B;
				font: 12px/16px Arial,sans-serif;
				left: 38px;
				position: absolute;
				top: 0;
			}
			#percent_95 p {
				margin: 112px 0 0 40px;
			}
		
		#graySection {
			background: url(../img/sector20.png) no-repeat 0 0;
			display: none;
			position: absolute;
				top: 70px;
				left: 189px;
			height: 79px;
			width: 73px;
		}
		#greenSection_1 {
			background: url(../img/sector80_1.png) no-repeat 0 0;
			display: none;
			position: absolute;
				top: 154px;
				left: 190px;
			height: 72px;
			width: 63px;
		}
		#greenSection_2 {
			background: url(../img/sector80_2.png) no-repeat 0 0;
			display: none;
			position: absolute;
				top: 186px;
				left: 236px;
			height: 53px;
			width: 101px;
		}
		#greenSection_3 {
			background: url(../img/sector80_3.png) no-repeat 0 0;
			display: none;
			position: absolute;
				top: 111px;
				left: 311px;
			height: 100px;
			width: 53px;
		}
		#greenSection_4 {
			background: url(../img/sector80_4.png) no-repeat 0 0;
			display: none;
			position: absolute;
				top: 65px;
				left: 256px;
			height: 62px;
			width: 94px;
		}
		
		#orangeSection {
			background: url(../img/sector_95.png) no-repeat 0 0;
			display: none;
			position: absolute;
				top: 29px;
				left: 155px;
			height: 245px;
			width: 245px;
		}
		

.lt-ie9 #infograph #content_3 {
	background: url(../img/infograph_3.jpg) no-repeat 0 0;
	clear: both;
	padding: 0;
	height: 510px !important;
	width: 650px;
}
		
#content_3 {
	padding: 22px 10px;
	min-height: 500px;
	height: auto !important;
	overflow: hidden;
}
#content_3 #leftColumn {
	float: left;
	min-height: 100px;
	width: 156px;
}
	#research {
		background: none repeat scroll 0 0 #D8D8D8;
		display: none;
		padding: 15px;
		position: relative;
		height: 210px;
		width: 119px;
	}
		#research:after {
			background: url(../img/triangle.png) no-repeat 0 0;
			content: '';
			position: absolute;
				left: 0;
				bottom: -44px;
			height: 44px;
			width: 149px;
		}
		#research h2 {
			color: #fff;
			display: none;
			font: normal 22px/18px PFDinTextCondProMediumRegular,sans-serif;
			text-transform: uppercase;
			text-align: center;
		}
			#research h2 span {
				color: #fff;
				font: normal 16px/16px PFDinTextCondProMediumRegular,sans-serif;				
			}
			#research p {
				color: #fff;
				font: normal 16px/16px PFDinTextCondProRegular,sans-serif;
				display: none;
				text-align: center;
				margin: 5px 0 0;
			}
			#research #counter_research {
				border: solid #FFFFFF;
				border-width: 2px 0;
				color: #FFFFFF;
				display: none;
				font: normal 31px/25px PFDinTextCondProMediumRegular,sans-serif;
				margin: 20px 0 0;
				padding: 12px 0;
				opacity: 0.3;
				text-align: center;
			}
				#counter_research span {
					color: #fff;
					font: 91px/70px PFDinTextCondProMediumRegular,sans-serif;
					letter-spacing: -8px;
				}
	#warning {
		margin: 60px 0 0;
		padding: 0 0 0 20px;
	}
		#warning h2 {
			color: #D00000;
			font: normal 24px/32px PFDinTextCondProBold,sans-serif;
			display: none;
		}
		#warning p {
			color: #4C4C4C;
			font: 15px/16px PFDinTextCondProRegular,sans-serif;
			display: none;
		}
		#percent_warning {
			color: #D00000;
			display: none;
			font: 51px/50px PFDinTextCondProRegular,sans-serif;
			margin: 15px 0;
			text-shadow: 0 1px 1px #969696;
		}
			#percent_warning strong {
				font: 72px/50px PFDinTextCondProRegular,sans-serif;
				display: block;
			}
#content_3 #rightColumn {
	float: left;
	margin: 0 0 0 15px;
	width: 450px;
}
	#rightColumn .main {
		color: #676767;
		font: normal 15px/21px Arial,sans-serif;
		display: none;
		opacity: 0.8;
	}
	#groups {
		margin: 25px 0 0;
		padding: 0 0 15px;
		position: relative;
		height: 140px;
	}
		#groups .group_1,
		#groups .group_2 {
			display: none;
			float: left;
			vertical-align: top;
			margin: 0 20px;
			width: 120px;
		} 
			#groups .small {
				color: #676767;
				font: normal 17px/17px PFDinTextCondProRegular,sans-serif;
				display: block;
				text-align: center;
				opacity: 0.6;
			}
			#groups .counter {
				border: solid #FFFFFF;
				border-width:2px 0;
				color: #676767;
				display: block;
				font: normal 67px/69px PFDinTextCondProMediumRegular,sans-serif;
				text-align: center;
				letter-spacing: -3px;
				margin: 10px 0;
				text-shadow: 0 1px 1px #969696;
			}
		#groups .eq_sign,
		#groups .plus_sign {
			display: none;
			font: normal 50px/120px PFDinTextCondProRegular,sans-serif;
			float: left;
			color: #676767;
			opacity: 0.6;
			vertical-align: top;
			width: 40px;
		}
		#groups .plus_sign {
			margin: 0 0 0 10px;
		}
		
		#groups .arrow {
			background: url(../img/arrow_down.png) no-repeat 0 0;
			display: none;
			position: absolute;
				top: 150px;
			height: 74px;
			width: 18px;
			z-index: 10;
		}
			#groups .group_1 .arrow {
				left: 115px;
			}
			#groups .group_2 .arrow {
				left: 325px;
			}
		
	#after_year {
		background: none repeat scroll 0 0 #D7D7D7;
		color: #676767;
		display: none;
		font: normal 20px/32px PFDinTextCondProRegular,sans-serif;
		height: 32px;
		position: relative;
		margin: 15px auto 40px;
		text-align: center;
		width: 380px;
	}
		#after_year:after {
			background: url(../img/triangle_small.png) no-repeat 0 0;
			content: ' ';
			position: absolute;
				left: 50%;
				bottom: -16px;
			margin: 0 0 0 -12px;
			height: 16px;
			width: 32px;
			z-index: 1;
		}
		#stats_better,
		#stats_worse {
			height: auto !important;
			overflow: hidden;
			padding: 0 0 0 24px;
		}
		#stats_better .group_1,
		#stats_better .group_2,
		#stats_worse .group_1,
		#stats_worse .group_2 {
			display: none;
			float: left;
			vertical-align: top;
			margin: 0 0 0 20px;
			padding: 10px 0 0;
			text-align: center;
			width: 140px;
		}
		#stats_better .group_2,
		#stats_worse .group_2 {
			margin: 0 0 0 65px;
		}
		#stats_better p,
		#stats_worse p {
			color: #444444;
			font: normal 13px/15px PFDinTextCondProRegular,sans-serif;
			display: block;
		}
		#stats_better .percents,
		#stats_worse .percents {
			color: #D00000;
			font: normal 70px/90px PFDinTextCondProMediumRegular,sans-serif;
			text-align: center;
			text-shadow: 1px 1px 1px #969696;
		}
			.percents span {
				font: normal 90px/90px PFDinTextCondProMediumRegular,sans-serif;
			}
			
#source {
	border-top: 4px solid #CACACA;
	clear: both;
	display: none;
	margin: 15px 10px;
	padding: 5px 20px;
}
	#source p {
		color: #5b5b5b;
		font: normal 11px/14px Arial,sans-serif;
	}
		#source p strong {
			font: bold 11px/14px Arial,sans-serif;	
			display: inline-block;
			float: left;
			vertical-align: top;
			height: 30px;
			width: 75px;
		}
		#source p a {
			color: #444444;
			text-decoration: none;
		}
		
		
#infograph_4 {
	background: url(../img/info4_bg.jpg) no-repeat 0 0;
	position: relative;
	height: 605px;
	width: 650px;
}
	#man {
		background: url(../img/man.png) no-repeat 0 0;
		display: block;
		position: absolute;
			bottom: 0;
			right: 0;
		height: 308px;
		width: 320px;
		z-index: 1;
	}
	.excuseBox {
		display: none;
	}
	#infograph_4 .activeExcuse {
		display: block;	
	}
	#infograph_4 h1 {
		background: url(../img/excuse.png) no-repeat 0 0;
		color: #C00202;
		font: normal 32px/32px PFDinTextCompProBold,sans-serif;
		position: absolute;
			top: 35px;
			left: 15px;	
		text-align: center;
		text-transform: uppercase;
		height: 260px;
		width: 437px;
	}
		#infograph_4 h1 span {
			display: block;
			margin: 80px 0 0 80px;
			width: 175px;
		}
			.lt-ie8 #infograph_4 h1 span {
				margin: 80px 0 0 -60px;
				text-align: left;
			}
	#infograph_4 p {
		color: #5B5B5B !important;
		font: normal 16px/20px Arial,sans-serif;
		position: relative;
			top: 350px;
		margin: 0 0 0 20px;
		width: 360px;
	}
		#infograph_4 .big {
			color: #D00000 !important;
			margin: 20px 0 0 20px;
			font: normal 26px/26px PFDinTextCompProBold,sans-serif;
			text-transform: uppercase;
		}
	#menu {
		position: absolute;
			bottom: 30px;
			left:  15px;
		list-style: none;
		margin: 0;
		padding: 0;
	}
		#menu li {
			display: inline-block;
			margin: 0 6px 0 0;
			vertical-align: top;
		}
		#menu a {
			background: url(../img/menu_sprite.png) no-repeat 0 -70px;
			display: inline-block;
			text-decoration: none;
			vertical-align: top;
			height: 31px;
			width: 31px;
		}
		.lt-ie8 #menu li,
		.lt-ie8 #menu li a {
			display: inline;
			zoom: 1;
		}
		#menu .active {
			background: url(../img/menu_sprite.png) no-repeat 0 0px;
		}